.header {
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  height: 700px;
  text-align: center;
  color: white;
  background-image: linear-gradient(#0000009d, #21dadb),
    url("https://images.unsplash.com/photo-1533750516457-a7f992034fec?q=80&w=1812&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header h2 {
  font-size: 18px;
}

.expertise {
  height: 700px;
  border-radius: 0px 0px 200px 200px;
}

.section-content-expertise p {
  flex-grow: 0;
  color: #35bbdf;
  flex-shrink: 0;
  flex-basis: 25%;
  margin: 20px;
  padding: 50px;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  transition: transform 0.2s;
}

.section-content-expertise p:hover {
  transform: scale(1.05);
}

.expertise-content {
  transform: translateY(-20%);
}

.section-whyus {
  padding: 80px;
}
.section-content-whyus p {
  color: white;
  width: 600px;
  margin: 20px;
  padding: 50px;
  box-shadow: 1px 1px 30px rgb(224, 224, 224);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s;
}

.first-image {
  background-image: linear-gradient(#4d94e6da, #21dbdbda),
    url("https://plus.unsplash.com/premium_photo-1683141443347-20b9400c4f04?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.second-image {
  background-image: linear-gradient(#4d94e6da, #21dbdbda),
    url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.third-image {
  background-image: linear-gradient(#4d94e6da, #21dbdbda),
    url("https://plus.unsplash.com/premium_photo-1683141443347-20b9400c4f04?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fourth-image {
  background-image: linear-gradient(#4d94e6da, #21dbdbda),
    url("https://plus.unsplash.com/premium_photo-1683141443347-20b9400c4f04?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fifth-image {
  background-image: linear-gradient(#4d94e6da, #21dbdbda),
    url("https://plus.unsplash.com/premium_photo-1683141443347-20b9400c4f04?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.deliverables {
  background-color: #4d94e6;
  padding: 50px;
  text-align: center;
  position: relative;
}

.section-title-deliver {
  font-size: 2em;
  margin-bottom: 20px;
}

.section-content-deliver {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.step {
  display: flex;
  align-items: center;
  max-width: 600px;
  text-align: left;
}

.icon {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #1ac6ff;
  font-size: 2em;
  padding: 15px;
  margin-right: 20px;
}

.text h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.text p {
  font-size: 1em;
  color: #c2e9ef;
}
